.appContent {
    margin-top: 2%;
}

h1 {
    text-align: center;
    padding: 3%;;
}

header {
    background-color: rgb(252, 237, 209);
    border-top: 5px ridge black;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(206, 200, 179);
}

header a {
    text-decoration: none;
    color: black;
    padding: 2%;
    margin: 1%;
    border: 2px solid rgb(231, 214, 182);
    background-color: rgb(199, 192, 180);;
}

header a:hover {
    background-color: rgb(241, 235, 227);
    color: red;
}