<header>
    <h3>About AngularTodo</h3>
</header>
<div class="AboutInfo">
    <p>
        AngularTodo is a simple application built with the Angular framework which displays simple
        text-based task lists on the screen for the user, which can be toggled via clicking.
    </p>
    <p>
        This application was developed as a learning exercise to experiment with the framework and
        become familiar with some of it's major features and development capabilities. Future plans
        for the project include custom task-colors, user configuration settings and additional task-types. 
    </p>
</div>
