<div class="TodoList">
    <h2>Todo List</h2>
    <form>
        <input type="text" name="inputName" placeholder="Enter item name..." class="NameInput"[(ngModel)]="inputName"/>
        <input type="text" name="inputDescription" placeholder="Enter item description" class="DescriptionInput"[(ngModel)]="inputDescription"/>
        <input type="submit" value="Add Task" class="itemSubmit" (click)="addItem()">
    </form>
    <div *ngFor="let item of todoItems; let id = index;" 
    class="TodoItem {{ (item.isComplete ? 'completed' : '') }}" (click)="toggleFinished(id)">
        
        <div class="TodoContent">
            <div class="idNum">{{id}}</div>
            <div class="TodoName">{{item.name}}</div>
            <div class="TodoDescription">{{item.description}}</div>
        </div>
        <div class=TodoControls>
            <button class="delete" (click)="deleteItem(id)">Delete</button>
        </div>        
    </div>
</div>
<div class="StorageControls">
    <button (click)="save()">Save Entries</button>
    <button (click)="ngOnInit()">Discard Changes</button>
    <button (click)="reset()">Reset</button>
</div>