<div class="TodoList">
    <h2>Todo List</h2>
    <form>
        <input type="text" name="inputName" placeholder="Enter item name..." class="NameInput"[(ngModel)]="inputName"/>
        <input type="text" name="inputDescription" placeholder="Enter item description" class="DescriptionInput"[(ngModel)]="inputDescription"/>
        <input type="submit" value="Add Task" class="itemSubmit" (click)="addItem()">
    </form>
    <div *ngFor="let item of todoItems; let id = index;" 
    class="TodoItem {{ (item.isComplete ? 'completed' : '') }}" (click)="toggleFinished(id)">
        
        <div class="TodoContent">
            <div class="idNum">{{id}}</div>
            <div class="TodoName">{{item.name}}</div>
            <div class="TodoDescription">{{item.description}}</div>
        </div>
        <div class=TodoControls>
            <button class="delete" (click)="deleteItem(id)">Delete</button>
        </div>        
    </div>
</div>
<div class="StorageControls">
    <!-- test data persistence service, store new items, get most recent item, delete most recent item in console -->
    <form>
        <input type="text" class = "storageTestName" placeholder="Enter item name...">
        <input type="text" class = "storageTestDescription" placeholder="Enter item description...">
        <button (click)="storeItem('A new Item', getTodoItems().length)">Test addItem</button>
        <button (click)="getItem(getTodoItems().length)">Test getItem</button>
        <button (click)="removeItem(getTodoItems().length)">Test removeItem</button>
    </form>
</div>