.TodoList {
    flex-wrap: wrap;
    width: 100%;
}

.TodoList h2 {
    flex: 1 0 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(252, 237, 209);
    padding-bottom: 2%;
}

form {
    background-color: rgb(252, 237, 209);
    text-align: center;
    padding: 2%;
}

form input {
    width: 50%;
    margin: 0.3%;
}

.itemSubmit {
    background-color: rgb(206, 200, 179);;
}

button {
    background-color: rgb(206, 200, 179);
}

button:hover {
    background-color: red;
    color: yellow;
}

.TodoItem {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(252, 237, 209);
    border-bottom: 2px solid rgb(231, 214, 182);
}

.TodoItem:hover {
    cursor: pointer;
}

.TodoItem:nth-child(even) {
    background-color: rgb(252, 239, 216);
    border-bottom: 2px solid rgb(231, 214, 182);
}

.TodoItem:last-of-type {
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 5%;
    border-bottom: 2px solid rgb(231, 214, 182);
}

.TodoContent {
    flex: 4 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.TodoControls {
    flex: 1 2;
    justify-content: center;
}

.TodoControls button {
    width: 50%;
}

.TodoItem .idNum {
    width: 100%;
    margin-left: 2%;

}

.TodoItem .TodoContent {
    flex: 1, 1, 5px;
}

.TodoName {
    width: 100%;
    margin-left: 2%;
}

.TodoDescription {
    width: 30%;
    padding-bottom: 2%;
}

.TodoItem.completed {
    text-decoration: line-through;
    color: red;
}

.StorageControls {
    margin-top: 2%;
    display: block;
    justify-content: space-evenly;
    background-color: rgb(252, 237, 209);
    padding: 0.25%;
    border-radius: 20px;
    border: 2px solid rgb(231, 214, 182);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.StorageControls form {
    display: flex;
    gap: 2%;
}