header {
    background-color: rgb(252, 237, 209);
}

header h3 {
    margin-left: 10%;
}

.Settings {
    background-color: rgb(252, 237, 209);
    padding: 8%;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 2px solid rgb(231, 214, 182);
}